body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f0f0f0; /* Definição de cor de fundo global */
}

/* Cabeçalho */
.info-pessoal {
    margin: 0 auto; /* Ajusta a margem para centralizar o conteúdo */
    text-align: center;
    padding: 2rem;
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    max-width: 800px; /* Define uma largura máxima para telas maiores */
    background-color: rgba(128, 128, 128, 0.455);
    border-radius: 8px;
}

.nome {
    font-size: 26px;
    font-weight: bold;
    color: #333; /* Ajusta a cor do texto */
}

.endereco-contatos {
    margin-top: 20px;
    text-align: center;
}

/* Seções */
.info {
    margin: 2rem auto; /* Ajusta a margem para centralizar o conteúdo */
    padding: 2rem;
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    max-width: 800px; /* Define uma largura máxima para telas maiores */
    background-color: rgba(128, 128, 128, 0.455);
    border-radius: 8px;
}

section div {
    margin-bottom: 20px;
}

.objetivo {
    word-wrap: break-word;
}

h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .info-pessoal, .info {
        width: 90%; /* Ajusta a largura para telas menores */
    }
}
