<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emanuel Porto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="info-pessoal">
        <h1 class="nome">Emanuel Da Conceição Porto</h1>
        <div class="endereco-contatos">
                <p>Rua Joaquim de Paula, n° 89 | Cep:25922-456 | Suruí-Magé RJ</p>
            <h4>Contato</h4>
                <p>(21) 99970-3443 | (21) 99265-9980 <br>emanuelporto.py@gmail.com <br>5415353@proton.me</p>
                <p>Rede Social <a href="https://github.com/PortoEmanuel">GitHub</a></p>
            </div>
    </header>
    <section class="info">
        <div>
            <h4>Objetivo</h4>
            <p class="objetivo">Como um profissional dedicado e em constante aprendizado, meu objetivo é atuar em um ambiente inovador, onde possa aplicar minhas habilidades para desenvolver soluções que gerem um impacto positivo na sociedade. <br> Busco uma empresa que valorize a colaboração, o desenvolvimento pessoal e ofereça oportunidades para crescimento profissional.</p>
        </div>
        <div>
            <h4>Teste de Perfil</h4>
            <ul>
                <li>Ambição: 82.34</li>
                <li>Assertividade: 54.37</li>
                <li>Capacidade analítica: 84.61</li>
                <li>Comunicação: 80.07</li>
                <li>Consideração pelos outros: 66.43</li>
                <li>Estabilidade emocional: 86.88</li>
                <li>Facilitação: 68.705</li>
                <li>Flexibilidade: 66.43</li>
                <li>Influência: 73.25</li>
                <li>Iniciativa: 68.705</li>
                <li>Pensamento conceitual: 70.97</li>
                <li>Pensamento criativo: 73.25</li>
                <li>Planejamento e organização: 82.34</li>
                <li>Reflexão: 82.34</li>
                <li>Sociabilidade: 82.34</li>
                <li>Tomada de riscos: 55.07</li>
            </ul>
        </div>
        <div>
            <h4>Habilidades e Compêtencias</h4>
            <ul>
                <li>Inglês – A1</li>
                <li>Conhecimento em Pacote Office e Internet.</li>
                <li class="objetivo">Desenvolvimento Python | Sintaxe e Estruturas de Controle | Funções | Manipulação de Listas e Dicionários | Entrada e Saída | Desenvolvimento Web | Resolução de Problemas. </li>
            </ul>
        </div>
        <div>
            <h4>Experiência Profissional</h4>
            <ul>
                <li>Floc Industria e Comércio | Magé-RJ <br>
                    Auxiliar de produção (11/2022 à 12/2023) <br>
                    Fabricação de máscaras e brinquedos em Latéx</li>
            </ul>
        </div>
        <div>
            <h4>Formação e Certificados</h4>
            <h4>Escolaridade:</h4>
            <ul>
                <li>Ensino médio.</li>
            </ul>
            <h4>Certificados</h4>
            <ul>
                <li>NR35 - Trabalho em altura. (BIOSENSI)</li>
                <li>BVI - Brigadista voluntário de incêndio. (ATAC FIRE)</li>
                <li>Como vender pela internet. (SEBRAE)</li>
                <li>Mantendo o estoque em dia. (SEBRAE)</li>
                <li>Empreendedorismo. (SEBRAE)</li>
            </ul>
        </div>
    </section>
</body>
</html>