body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

/* Cabeçalho */
.info-pessoal {
    margin: 0 10rem 0 5rem;
    text-align: center;
    padding: 2rem;
    width: 80%; /* Adjust width for mobile */
    background-color: rgba(128, 128, 128, 0.455);
    border-radius: 8px;
    line-height: 17px;
}

.nome {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.endereco-contatos {
    margin-top: 20px;
    text-align: center;
    line-height: 18px;
}

/* Seções */
.info {
    margin: 3% 10rem 0 5rem;
    padding: 2rem;
    width: 80%; /* Adjust width for mobile */
    background-color: rgb(128, 128, 128, 0.455);
    border-radius: 8px;
    line-height: 17px;
}

section div {
    margin-bottom: 20px;
}

.objetivo {
    word-wrap: break-word;
    width: 80%; /* Adjust width for mobile */
}

h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Personalize as cores e fontes conforme sua preferência */
body {
    background-color: #f0f0f0;
}

.nome {
    color: #333;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .info-pessoal, .info {
        width: 70%; /* Adjust width for smaller screens */
    }
}